body {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #151517;
    filter: none;
    image-rendering: pixelated;
    width: 600px;
    margin: auto;
}

.role-container {
    margin: 10px 0;
}

.role-container label {
    display: inline-block;
    min-width: 120px;
}

.selector {
    padding: 5px;
    border: 1px solid #666;
    height: 40px;
    background-color: #393E46;
}

.placeholder::placeholder {
    color: #c8c8c8;
    font-style: italic;
    font-size: 20px;
}

.white_text {
    color: white;
    font-size: 16px;
}
.center_text {
    text-align: center;
}

#number_sentences{
    height: 20px;
    background-color: #393E46;
}

#your_scenario{
    color: white;
    width: 100%;
    height: 200px;
    max-width: 600px;
    min-height: 400px;
    background-color: #393E46;
    padding: 10px;
    margin: 10px auto;
    display: none;
    resize: none;
    font-size: 14px; /* Уже есть в вашем коде */
    line-height: 1; /* Добавьте это для контроля высоты строки */

}

#style{
    width: 100%;
    height: 200px;
    min-height: 200px;
    background-color: #393E46;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px auto;
    display: block;
    resize: none;
    /*text-transform: none; !* Отключите принудительный регистр *!*/
}

#user_name{
    overflow-x: auto;    /* Горизонтальный скролл при необходимости */
    overflow-y: hidden;  /* Скрыть вертикальный скролл */
    white-space: nowrap; /* Запрет переноса текста */
    resize: none;        /* Отключить изменение размера */

    height: 30px;
    width: 200px;
    background-color: #393E46;
    padding: 10px;
    margin: 10px auto;
    text-wrap: auto;
    text-transform: none; /* Отключите принудительный регистр */
    font-size: 16px;
}

#content {
    width: 100%;
    height: 200px;
    max-width: 600px;
    min-height: 400px;
    background-color: #393E46;
    padding: 10px;
    margin: 10px auto;
    display: block;
    resize: none;
    font-size: 14px; /* Уже есть в вашем коде */
    line-height: 1; /* Добавьте это для контроля высоты строки */
}

#collect_url {
    padding: 10px 20px;
    background: #393E46;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
}

#get_url {
    padding: 10px 20px;
    background: #ede0bd;
    color: black;
    border: none;
    cursor: pointer;
    width: auto;
}

#text_constructor_topic {
    color: white;
}

#result {
    margin-top: 20px;
    word-break: break-all;
}


#video{
    width: 100%;
    height: 336px;
    display: block;
    padding-top: 20px;
}

#scenes {
    background-color: #393E46;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
}

#loading {
    margin: -20px auto;
    width: 120px;
    height: 60px;
}

/* Адаптивность для мобильных устройств */
@media (max-device-width: 1080px ) {
    body {
        padding: 10px;
        margin: 10px auto;
        width: 100%;
    }

    /*.placeholder::placeholder {*/
    /*    color: #c8c8c8;*/
    /*    font-style: italic;*/
    /*    font-size: 20px;*/
    /*}*/

    .white_text {
        color: white;
        font-size: 40px !important;
    }

    .selector{
        height: 80px;
        background-color: #393E46;
    }

    .role-container {
        margin: 25px 0;
        display: flex;
        align-items: center; /* Выравнивание по вертикали */
        gap: 10px; /* Расстояние между лейблом и элементом */
        width: 100%;
    }

    #character_selector{
        flex-grow: 1; /* Занимает всё доступное пространство */
        min-width: 0; /* Позволяет элементу сжиматься меньше содержимого */
    }

    #user_name{
        overflow-x: auto;    /* Горизонтальный скролл при необходимости */
        overflow-y: hidden;  /* Скрыть вертикальный скролл */
        white-space: nowrap; /* Запрет переноса текста */
        resize: none;        /* Отключить изменение размера */

        display: block;

        height: 50px;
        width: 98%;
        background-color: #393E46;
        padding: 10px;
        margin: 10px auto;
        text-wrap: auto;
        text-transform: none; /* Отключите принудительный регистр */
        font-size: 40px;
    }

    #select_scene {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    #loading {
        display: block;
        padding: 20px;
        width: 240px;
        height: 120px;
    }

    #scenes {
        width: 100%;
        padding: 12px;
        font-size: 30px;
    }

    #collect_url, #get_url {
        width: 100%;
        padding: 15px 20px;
        margin: 10px 0;
    }

    #content {
        width: 100%;
        height: 200px;
        background-color: #393E46;
        padding: 10px;
        box-sizing: border-box;
        margin: 10px auto;
        display: block;
        resize: none;
        max-width: 100%;
        min-height: calc(100cqb - 70vw) ;
        line-height: 1 ; /* Соотношение высоты строки */
        text-size-adjust: none; /* Отключает авто-подгонку текста в iOS */
        -webkit-text-size-adjust: none; /* Для Safari */
        -moz-text-size-adjust: none; /* Для Firefox */
    }

    #result {
        width: 100%;
    }
}
